name: build

on: push

jobs:
  test:
    name: Test crate

    defaults:
      run:
        shell: bash

    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-msvc
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Force git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.target }}

      - name: Remove fuzz target from members on Windows
        run: |
          if [[ "${{ matrix.target }}" == *-windows-* ]]; then
            sed -i '/fuzz/d' Cargo.toml
          fi

      - name: Run lib tests
        run: cargo test --workspace -q --lib

      - name: Run lib tests with serde
        run: cargo test --workspace -q --lib --features serde

      - name: Run lib tests with the three lexers
        run: |
          set -e
          cargo test -p glsl-lang -q --lib --features lexer-v1
          cargo test -p glsl-lang -q --lib --features lexer-v2-min
          cargo test -p glsl-lang -q --lib --features lexer-v2-full

      - name: Generate test driver
        run: cargo xtask gen-tests

      - name: Run glsl-lang-pp/glslang tests
        run: cargo test -p glsl-lang-pp --test glslang --features full

      - name: Run glsl-lang/glslang tests
        # Since the parser isn't ready yet, and some tests are invalid input anyways
        continue-on-error: true
        run: |
          set +e
          cargo test -p glsl-lang -q --test glslang --no-default-features --features lexer-v1
          cargo test -p glsl-lang -q --test glslang --no-default-features --features lexer-v2-min
          cargo test -p glsl-lang -q --test glslang --no-default-features --features lexer-v2-full

      - name: Run glsl-lang-quote tests
        run: |
          cargo test -p glsl-lang-quote

# vim: ft=yaml:ts=2:sw=2:et
